
<% content_for :title, "Tenants" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Tenants</h1>
  <%= link_to "New tenant", new_tenant_path, class: "btn btn-primary" %>
</div>


<div id="tenants" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @tenants.each do |tenant| %>
    <%= render tenant %>
    
  <% end %>
</div>


