
<% content_for :title, "Rent payments" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Rent payments</h1>
  <%= link_to "New rent payment", new_rent_payment_path, class: "btn btn-primary" %>
</div>


<div id="rent_payments" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @rent_payments.each do |rent_payment| %>
    <%= render rent_payment %>
    
  <% end %>
</div>


