<div id="<%= dom_id rental_property %>">

  <div>
    <strong>Address:</strong>
    <%= rental_property.address %>
  </div>

  <div>
    <strong>Property type:</strong>
    <%= rental_property.property_type %>
  </div>

  <div>
    <strong>Square footage:</strong>
    <%= rental_property.square_footage %>
  </div>

</div>
