
<% content_for :title, "Rental properties" %>

<% content_for :breadcrumbs do %>
  <li>Properties</li>
<% end %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Rental Properties</h1>
  <%= link_to "New rental property", new_rental_property_path, class: "btn btn-primary" %>
</div>

<div class="overflow-x-auto bg-base-100 rounded-lg shadow border border-base-200">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Address</th>
        <th>Type</th>
        <th>Size</th>
        <th>Leases</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody id="rental_properties">
      <% @rental_properties.each do |rental_property| %>
        <%= render rental_property %>
      <% end %>
    </tbody>
  </table>
</div>


