
<% content_for :title, "Rental properties" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Rental properties</h1>
  <%= link_to "New rental property", new_rental_property_path, class: "btn btn-primary" %>
</div>


<div id="rental_properties" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @rental_properties.each do |rental_property| %>
    <%= render rental_property %>
    
  <% end %>
</div>


