<% content_for :title, "New rental property" %>
<% content_for :breadcrumbs do %>
  <li><%= link_to "Properties", rental_properties_path %></li>
  <li>New</li>
<% end %>

<h1 class="text-3xl font-bold mb-6">New rental property</h1>

<%= render "form", rental_property: @rental_property %>

<div class="mt-6">
  <%= link_to "Back to rental properties", rental_properties_path, class: "btn btn-ghost" %>
</div>
