<% content_for :breadcrumbs do %>
  <li><%= link_to "Properties", rental_properties_path %></li>
  <li><%= @rental_property.address %></li>
<% end %>

<%= render @rental_property %>

<div class="divider mt-8"></div>

<h2 class="text-2xl font-bold mb-4">Financial Ledger</h2>

<%= render "rental_properties/financials", rental_property: @rental_property, financial_items: @financial_items, year: @year %>


