<div id="<%= dom_id scheduled_rent %>">
  <div>
    <strong>Lease:</strong>
    <%= scheduled_rent.lease_id %>
  </div>

  <div>
    <strong>Expected amount:</strong>
    <%= scheduled_rent.expected_amount %>
  </div>

  <div>
    <strong>Expected due date:</strong>
    <%= scheduled_rent.expected_due_date %>
  </div>

</div>
