<% content_for :title, "New scheduled rent" %>

<h1>New scheduled rent</h1>

<%= render "form", scheduled_rent: @scheduled_rent %>

<br>

<div>
  <%= link_to "Back to scheduled rents", scheduled_rents_path %>
</div>
