
<%= render @scheduled_rent %>

<div class="flex gap-4 mt-6">
  <%= link_to "Edit", edit_scheduled_rent_path(@scheduled_rent), class: "btn btn-outline" %>
  <%= link_to "Back", "javascript:history.back()", class: "btn btn-ghost" %>
  <%= button_to "Delete", @scheduled_rent, method: :delete, class: "btn btn-error text-error-content", form: { data: { turbo_confirm: 'Are you sure?' } } %>
</div>

