<% content_for :title, "Editing utility payment" %>

<h1>Editing utility payment</h1>

<%= render "form", utility_payment: @utility_payment %>

<br>

<div>
  <%= link_to "Show this utility payment", @utility_payment %> |
  <%= link_to "Back to utility payments", utility_payments_path %>
</div>
