
<% content_for :title, "Utility payments" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold">Utility payments</h1>
  <%= link_to "New utility payment", new_utility_payment_path, class: "btn btn-primary" %>
</div>


<div id="utility_payments" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% @utility_payments.each do |utility_payment| %>
    <%= render utility_payment %>
    
  <% end %>
</div>


