
<%= render @utility_payment %>

<div class="flex gap-4 mt-6">
  <%= link_to "Edit", edit_utility_payment_path(@utility_payment), class: "btn btn-outline" %>
  <%= link_to "Back", "javascript:history.back()", class: "btn btn-ghost" %>
  <%= button_to "Delete", @utility_payment, method: :delete, class: "btn btn-error text-error-content", form: { data: { turbo_confirm: 'Are you sure?' } } %>
</div>

